.first{
    color: brown;
    background-color: aqua;
}
.note{

    background-color: rgb(245, 67, 186);
}
.note1{
    background-color: rgb(113, 248, 248);
}
.note2{
    background-color: rgb(252, 182, 53);
}
.note3{
    background-color: rgb(236, 88, 236);
}
.note4{
    background-color: rgb(188, 252, 92);
}
.note5{
    background-color: rgb(98, 98, 250);
}
.note6{
    background-color: rgb(231, 231, 83);
}
.note7{
    background-color: rgb(241, 77, 77);
}
.note8{
    background-color: rgb(98, 236, 98);
}
.note9{
    background-color: rgb(245, 117, 139);
}
.note10{
    background-color: rgb(114, 196, 196);
}
.note11{
    background-color: rgb(76, 224, 76);
}